{:deps   true
 :source-paths ["src"]
 :dev-http {8080 "public"}
 :dependencies
 [[cljsjs/react "17.0.2-0"]
  [cljsjs/react-dom "17.0.2-0"]]
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:main {:init-fn app.main/init}}}}}